<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="item plus" style="background-image: url('./img/{{holiday.path}}');">
            <a href="/">
            <div style="text-align: center;">
                <span><i class="{{holiday.icon}}"></i></span> 
                <p>{{holiday.tilte}}</p>   
            </div>
            </a>
            </div>
        </div>
    </div>
</div>