<h2>Time to relax and cheerup</h2>
<dl>
    <dt>Hello everyone</dt>
    <dd>
        {{message}}
    </dd>

    <dt>Your lucky number in this year:</dt>
    <dd>
        {{userid}}
        <br/>(click <a href='/set-random-userid'>Here</a> to change randomly)
    </dd>

    <dt> Your soul mate:</dt>
    <dd>
        {{username}}
        <br/>(click <a href="/set-random-username">Here</a> to change randomly)
    </dd>
</dl>
<img src="/img/christmas.webp" alt="">