<div class="container-fluid">
    <div class="row">
        <div class="itemplus">
        <div class="col-md-12">
            <h1><title>{{title}}</title></h1>
            <div style="text-align: center;">
                <p>Wanna see worldCup</p>  
                <a href="/submit">REGISTER NOW</a> 
            </div>
            </div>
        </div>
    </div>
</div>